.img-user {
    width: 100px;
    min-width: 50px;
    border-radius: 100%;
}

aside {
    background: linear-gradient(to bottom, rgba(31, 121, 250, 1) 0%,rgba(85, 142, 243, 0.5) 100%) !important;

    #btn-theme, #btn-account {  
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 0% 50%;
        border: none;
    }

    #btn-theme {
        height: 40px;
    }

    #btn-account {
        height: 50px;
        background-image: url('../img/icon-sign-off.svg');
        background-size: 40px;
    }
}

section{
    #edit {
        width: 50px;
        height: 50px;
        background-image: url('../img/icon-edit.svg');
        background-size: 50px;
        background-repeat: no-repeat;
    }
}

/*Estilos necesarios para los distintos modos*/
[data-bs-theme="light"] {
    #btn-theme {
        background-image: url('../img/icon-light.svg');
        background-size: 30px;
    }
    .active {
        background-color: #ffffff !important;     
    } 
} 

[data-bs-theme="dark"] {
    #btn-theme {
        background-image: url('../img/icon-dark.svg');
        background-size: 30px;
    }
    
    .active {
        background-color: #202428 !important;     
    } 
    
    #btn-theme, #btn-account {
        filter: invert(1);
     }
} 